<div class="carousel slide" data-ride="carousel" id="myCarousel-{{ view.dom_id }}">
    <ol class="carousel-indicators">
        {% for i in 0..rows|length-1 %}
            <li {{ (i == 0) ? 'class="active"' : '' }} data-slide-to="{{ i }}" data-target="#myCarousel-{{ view.dom_id }}">&nbsp;</li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for row in rows %}
            {% if row == rows|first %}
                <div class="item active">
                    {{ row.content }}
                </div>
            {% else %}
                <div class="item">
                    {{ row.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
